<%- content_for :page_title do %>About<%- end %>

<%- content_for :meta_desc do %>Mona Patel, Founder and CEO at Motivate Design<%- end %>

<%- content_for :body_id do %>mona<%- end %>

<%- content_for :section_id do %>mona1<%- end %>

<%- content_for :nav_id do %>nav3<%- end %>

      </section>
      <section id="mona2" class="page-center h-mtop100">
        <h2 class="gotham-lead h-mbottom100">Entrepreneur. CEO. User Experience Expert. Business leader. Speaker. Author. Mentor. Professor. Mom.</h2>
      </section>
      <section id="mona3" class="page-center">
        <h3 class="mona-left-header">Contributes to</h3>
        <div id="featured-in" class="h-txtcenter">
          <a href="http://www.fastcompany.com/3041047/the-6-excuses-preventing-you-from-designing-a-better-world"><%= image_tag gulp_asset_path('/images/people/mona_patel/fastco.png'), alt: "NYCDA_logo", width: "144", alt: "fastco", data: {constrained: "true"} %></a>&nbsp; 

          <a href="http://www.forbes.com/sites/yec/2014/12/09/4-ways-to-help-your-startup-survive-and-grow/"><%= image_tag gulp_asset_path('/images/people/mona_patel/forbes.png'), alt: "NYCDA_logo", width: "98", alt: "forbes", data: {constrained: "true"} %></a>&nbsp; 

          <a href="http://www.huffingtonpost.com/mona-patel/women-business-when-lean-_b_5622364.html"><%= image_tag gulp_asset_path('/images/people/mona_patel/hbr-category.png'), title: "harvard_business_review", style: "width:80px;", data: {constrained: "true"} %></a>&nbsp; 

          <a href="http://time.com/3754512/3-ways-find-forgotten-innovation/"><%= image_tag gulp_asset_path('/images/people/mona_patel/timelogo.png'), width: "56", alt: "timelogo", data: {constrained: "true"} %></a> 

          <a href="http://time.com/3754512/3-ways-find-forgotten-innovation/"><%= image_tag gulp_asset_path('/images/people/mona_patel/inc-logo.png'), alt: "inc logo", style: "width:80px;", data: {constrained: "true"} %></a>
        </div>
        <h3 class="mona-left-header">Memberships and Affiliations</h3>

        <div id="memberships" class="h-txtcenter h-mbottom50">

        <a href="https://yec.co/"><%= image_tag gulp_asset_path('/images/people/mona_patel/YEC.jpg'), alt: "YEC", width: "120", height: "auto" %></a> 

        <a href="http://nycventurefellows.org/2015-fellows/#fellow24"><%= image_tag gulp_asset_path('/images/people/mona_patel/venturefellows.jpg'), alt: "venturefellows", width: "120", height: "auto" %></a> 

        <a href="http://www.inc.com/profile/motivate-design"><%= image_tag gulp_asset_path('/images/people/mona_patel/inc1.jpg'), alt: "inc1", width: "120", height: "auto" %></a> 

        <a href="http://nycda.com/"><%= image_tag gulp_asset_path('/images/people/mona_patel/NYCDA_logo.png'), alt: "NYCDA_logo", width: "120", height: "auto" %></a></div>

        <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://time.com/money/4053985/mona-patel-best-advice-entrepreneur/" target=
            "_blank">Mona's Latest Article</a>
          </div>
        </div>

        <h2 class="Gotham-text h-mbottom100 h-mtop100" style="text-align: center;">Areas of Expertise</h2>
        <div>

          <div class="half">
            <div class="h-txtcenter expertise-icon-left"><%= image_tag gulp_asset_path('/images/people/mona_patel/icon1.svg'), class: "global-icon", width: "80", height: "auto", alt: "icon", title: "icon" %>
            <div class="expertise-space">
            <p style="text-align: center;">Design and Innovation <br> Strategy</p>
            </div>
            </div>
          </div>

          <div class="half">
            <div class="h-txtcenter expertise-icon-right"><%= image_tag gulp_asset_path('/images/people/mona_patel/icon2.svg'), class: "global-icon", width: "80", height: "auto", alt: "icon", title: "icon" %>
            <div class="expertise-space">
            <p style="text-align: center;">User/Customer <br> Holistic Experiences</p>
            </div>
            </div>
          </div>

        </div>

        <div>
          
          <div class="third">
            <div class="h-txtcenter"><%= image_tag gulp_asset_path('/images/people/mona_patel/icon3.svg'), class: "global-icon", width: "80", height: "auto", alt: "icon", title: "icon" %>
            <div class="expertise-space">
            <p style="text-align: center;">Future Research <br> Methodologies</p>
            </div>
            </div>
          </div>

          <div class="third">
            <div class="h-txtcenter"><%= image_tag gulp_asset_path('/images/people/mona_patel/icon4.svg'), class: "global-icon", width: "80", height: "auto", alt: "icon", title: "icon" %>
            <div class="expertise-space">
            <p style="text-align: center;">Startup Businesses</p>
            </div>
            </div>
          </div>


          <div class="third">
            <div class="h-txtcenter"><%= image_tag gulp_asset_path('/images/people/mona_patel/icon5.svg'), class: "global-icon", width: "80", height: "auto", alt: "icon", title: "icon" %>
            <div class="expertise-space">
            <p style="text-align: center;">Entrepreneurship</p>
            </div>
            </div>
          </div>

        </div>
      </section>
      <section style="border: none;" class="page-center">
        <h2 class="Gotham-text h-mbottom100 h-mtop100" style="text-align: center;">Speaking Engagements</h2>

        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'>
        <iframe src="https://player.vimeo.com/video/148515423?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        
        <div class="h-mtop50 video-section">
          <div class="half h-txtcenter">
            <h3 class="small-header content-center">Videos</h3>
            <p><a href="https://vimeo.com/103815936">The Lean Agency</a></p>
            <p><a href="https://vimeo.com/73880261">Designing Fresh Perspectives</a></p>
            <p><a href="https://vimeo.com/124552163">Why Isn't Innovation Happening</a></p>
            <p><a href="https://youtu.be/IXBggb1-RgM">Disruptive Thinking</a></p>
          </div>
          <div class="half h-txtcenter h-clearnone">
            <h3 class="small-header content-center">Presentations&nbsp;</h3>
            <p><a href="http://www.slideshare.net/Motivate_Design/selling-your-great-idea">Selling Your Great Ideas</a></p>
            <p><a href="http://www.slideshare.net/Motivate_Design/excuse-you">Excuse You</a></p>
          </div>
        </div>


        <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://cdn2.hubspot.net/hubfs/246844/MonaSpeakingHistory2015_v2.pdf">2015 Speaking History</a>
          </div>
        </div>

        <h2 class="gotham-text h-txtcenter h-mbottom100 h-mtop100">Amazon Bestselling Author</h2>

        <div>

          <div class="half">
            <div class="flexslider">
              <ul class="slides" style="list-style-type: none;">
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/Reframe_Book_Mockup_Final_small.jpg"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book1.png"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book2.png"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book_quotes/612x612_Reframe_Quotes3.jpg"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book3.png"></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="half">
            <h4>REFRAME: SHIFT THE WAY YOU WORK, INNOVATE, AND THINK</h4>
            <p class="sentinel">In <em>Reframe</em>, Mona shares her recipe for the first time, along with the compelling story of how she got there, on how to spark innovation and creativity anywhere, anytime.</p>
            <p class="italic-lead">"Inspiring, practical, and at times uncomfortably honest. Reframe's message is critically important for any leader to embrace."</p>
            <h5 style="font-size: 11px;"><strong>- Kelly Hoey, Speaker, Strategist and Angel Investor</strong></h5>
        </div>

          <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://www.readytoreframe.com/">MORE ABOUT THE BOOK</a>
          </div>
        </div>
        
        <div class="h-mtop100 h-mbottom100">
          <%= image_tag gulp_asset_path('/images/people/mona_patel/monainner.png'), alt: "mona", title: "mona" %>
          <h2 class="lead-text">MONA PATEL, CEO AND FOUNDER</h2>
          <p>Mona combines positivity, timeless wisdom, sharp design thinking and a little bit of magic glitter to help you see around corners and realize a kind of success you didn’t necessarily expect. She started Motivate Design in 2009 to create a place where clients could get what they want, rather than what an agency needs to sell. She holds a M.S. in Marketing Communications from Boston University and a B.S. in Engineering Psychology from Tufts University.</p>
          <div class="grey-social-icon">
            <a href="https://www.linkedin.com/in/monapatel1"><%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_linkedin2.svg'), width: "20", height: "auto", alt: "LinkedinIcon_Gray" %>&nbsp;<a href="https://twitter.com/monapatel"><%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_twitter2.svg'), width: "20", height: "auto", alt: "TwitterIcon_Gray" %></a>
          </div>
        </div>
      </section>
        
