<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <%= link_to admin_root_path, class: "logo" do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>D</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Motivate</b>Design</span>
  <% end %>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->

    <!-- search form (Optional) -->

    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li>
        <%= link_to admin_people_path do %>
          <i class="fa fa-link"></i> <span>People</span></a>
        <% end %>
      </li>
      <li>
        <%= link_to admin_external_links_path do %>
          <i class="fa fa-link"></i> <span>Links</span></a>
        <% end %>
      </li>
      <li>
        <%= link_to edit_admin_mona_article_path(@mona_article) do %>
          <i class="fa fa-link"></i> <span>Mona's Latest Article</span></a>
        <% end %>
      </li>
      <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
      <!-- <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul> -->
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
