<section class="content-header">
  <h1>
    Update Mona's Latest Article
    <small>Update the link below</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Root</a></li>
    <li class="active">Index</li>
  </ol>
</section>
<section class="content">
  <%= render :partial => 'form' %>
</section>
