<section class="content-header">
  <h1>
    People Index
    <small>List of Team Members</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Root</a></li>
    <li class="active">Index</li>
  </ol>
</section>
<section class="content">
  <%= render :partial => 'form' %>
</section>
