<section class="content-header">
  <h1>
    Add Person
    <small>Fill Form To Add Person</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">New</li>
  </ol>
</section>
<br>
<section class="content">
  <%= render :partial => 'form' %>
</section>
