#uxhires1 {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	background: url(/assets/images/uxhires/uxhiresbanner.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;

	&.index {
		background: #8AD562;
		height: 100vh;
	}

	.logo-wrapper {
		width: 100%;
		margin-top: 12%;
	}

	.heading {
		width: 70%;
		margin: 3rem auto 0;
		
		h1 {
			color: #fff;
			font-size: 5.5rem;
			letter-spacing: 0;
			line-height: 90px;
			line-height: 9rem;
			font-weight: 700;
		}

		span {
			text-decoration: underline;
		}
	}
}

#uxhires2 {
	height: 650px;
	padding-top: 10%;
}

.section-center {
	width: 56pc;
	margin-left: auto;
	margin-right: auto;
	padding-right: 25px;
	padding-left: 25px;

	&.center {
		text-align: center;
	}

	&.hidden {
		overflow: hidden;
	}

	&.wider {
		width: 90%;
	}
}

#uxhires3 {
	height: 700px;
	padding-top: 7%;
	background: #F9F9F9;
	overflow: hidden;
	
	.uxwrapper {
		float: left;
		width: 33.333333%;
		padding-right: 3rem;

		.ux-img {
			width: 300px;
		}

		.ux-head {
			color: #6C8143;
			margin-top: 3rem;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 600;
			text-align: center;
		}

		.ux-subhead {
			margin: 0.7rem auto;
			font-size: 1.4rem;
			font-family: "Sentinel A", "Sentinel B";
			text-align: center;
		}

		a {
			font-weight: 600;
			color: rgba(0, 0, 0, 0.75);
			text-decoration: underline;
		}
	}
}

#uxhires4{
	height: 700px;
	overflow: hidden;
	position: relative;

	& img {
    position: absolute;
    top: 7rem;
    right: 0px;
    width: 33%;
  }

  .section-center {
		width: 56pc;
		margin-left: auto;
		margin-right: auto;
		padding-right: 25px;
		padding-left: 25px;
	}

	a {
		font-weight: 600;
		color: rgba(0, 0, 0, 0.75);
		text-decoration: underline;
	}
}

#uxhires5 {
	height: 500px;
	background: #F9F9F9;
	overflow: hidden;
	padding-top: 5%;

	.section-center {
		width: 56pc;
		margin-left: auto;
		margin-right: auto;
		padding-right: 25px;
		padding-left: 25px;

		h3 {
			font-weight: 400;
			font-size: 2.5rem;
			text-align: left;
 		}

	}

  .contain-testimonial {
  	width: 56pc;
  	margin: 0 auto; 
  	text-align: left;

	  p {
	  	font-style: italic;
	  	display: inline-block;
	  	padding-right: 5rem;
	  	border-right: 1px solid #CCC;
	  	margin-top: 1rem;
	  }

	  img {
	  	display: inline-block;
	  	padding-left: 5rem;
	  	width: 135px;
	  }
	}
}

#uxhires6 {
	height: 700px;
	overflow: hidden;
	position: relative;

	& img {
    position: absolute;
    top: 9rem;
    right: 0px;
    width: 33%;
  }

  .bucket-inner {
  	padding-top: 160px;
  }

  a {
		font-weight: 600;
		color: rgba(0, 0, 0, 0.75);
		text-decoration: underline;
	}
}

#uxhires7 {
	height: 500px;
	background: #F9F9F9;
	overflow: hidden;
	padding-top: 10%;

	.section-center {
		width: 56pc;
		margin-left: auto;
		margin-right: auto;
		padding-right: 25px;
		padding-left: 25px;

		h3 {
			font-weight: 400;
			font-size: 2.5rem;
			text-align: left;
 		}

	}

  .contain-testimonial {
  	width: 56pc;
  	margin: 0 auto; 
  	text-align: left;

	  p {
	  	font-style: italic;
	  	display: inline-block;
	  	padding-right: 5rem;
	  	border-right: 1px solid #CCC;
	  	margin-top: 1rem;
	  }

	  img {
	  	display: inline-block;
	  	padding-left: 5rem;
	  	width: 135px;
	  }
	}
}

#uxhires8 {
	height: 500px;
	padding-top: 8%;
	position: relative;

	&.white {
		background: #fff;
	}

	h2 {
		font-size: 4rem;
		color: #787574;
	}
	
	.related-container {
		width: 100%;
		margin: 5rem auto 0;
		overflow: hidden; 
		position: relative;
		height: 35rem;

		&.visible {
			overflow: visible;
		}

		.related-box {
			width: 33.333333%;
			float: left;
			height: 100%;
			padding: 0 2rem;

			&.first {
				background: #485F2E;
			}

			&.second {
				background: #9CCC66;
			}

			&.third {
				background-image: url("/assets/images/uxhires/leap-into-ux.png");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 -75px;
			}

			&.fourth {
				background: #ccc;
			}

			&.fifth {
				background: #eee;
				margin-bottom: 15rem;
			}

			p {
				color: white;
		    font-weight: 500;
		    font-size: 12px;
		    font-family: "Gotham A", "Gotham B";
				text-align: left;
				width: 90%;
				margin: 10rem auto 0;
			}

			h3 {
				color: white;
		    font-weight: 700;
		    font-size: 2rem;
		    font-family: "Gotham A", "Gotham B";
				text-align: left;
				width: 90%;
				margin: 1rem auto 0;
			}
		}
	}
}

#uxhires9 {
	height: auto;
	background: #F9F9F9;

	.job-listing {
		margin-bottom: 5rem;
		
		&:last-child {
			padding-bottom: 10rem;
		}
	}

	h3 {
		color: #AFE093;
		text-transform: uppercase;
		font-size: 1.4rem;
	}

	h1 {
		font-weight: 600;
		margin-bottom: 1rem;
	}

	p {
		margin-top: 0;
	}

	a {
		font-weight: 600;
		color: rgba(0, 0, 0, 0.75);
		text-decoration: underline;
		font-size: 2rem;
	}
}

.green-lead {
  font-size: 3rem;
  color: #ABD278;
  line-height: 40px;

  &.m-bottom {
  	margin-bottom: 7rem;
  }
}


//UX hires jobs
#uxhires-jobs {
	
	.nav-toggle span, .nav-toggle span:after, .nav-toggle span:before {
    background: $white;
  }

  nav li>a:before {
  	background-color: #fff;
  }

  p {
    font-family: "Sentinel A", "Sentinel B";
    font-size: 20px;
    line-height: 37px;
  }

	#uxhires-jobs-wrapper {
		background: #F9F9F9;

		#uxhires-jobs1 {
			background: #8AD562;
			height: 100%;
			width: 100%;
			position: relative;
			text-align: center;
			min-height: 600px;
			margin: -30px 0;

			.logo-wrapper {
				width: 100%;
				margin-top: 12%;
				padding-bottom: 2rem;
			}

			.view-jobs {
				display: block;
				height: 180px;
				padding-top: 4rem;
				margin-top: 10rem;
				background: #F6F6F6;

				.nav-l {
					width: 60%;
					height: 100%;
					float: left;
					padding-top: 3.5rem;
				}

				.nav-r {
					width: 40%;
					height: 100%;
					float: right;
					padding-top: 3.5rem;
				}

				.clear {
					clear: both;
				}

				a {
					font-weight: 500;
					font-size: 16px;
					color: rgba(0, 0, 0, 0.65);
				}

				.p-right {
					padding-right: 5rem;
				}
			}
		}

		#uxhires-jobs2 {
			padding: 10rem 0;
			background: white;

			.page-center {
				h1 {
					color: #9CDB76;
					font-size: 22px;
				}
				h3 {
					font-size: 16px;
				}
				h5 {
					color: #6A8D54;
					font-size: 14px;
				}

				ul {
					li {
						font-size: 14px;
					}
				}

				button {
					outline: none;
					border: none;
					background: #8AD562;
					color: white;
					font-weight: 700;
					font-size: 14px;
					padding: 15px 20px;
					border-radius: 3px;
					margin-top: 3rem;
				}
			}
		}

		.more-roles {
			overflow: hidden;
			background: #486F34;
			height: 60px;

			.left {
				float: left;
				width: 35%;
				text-align: center;
				padding-top: 2rem;
			}

			.right {
				float: right;
				width: 50%;
				text-align: center;
				padding-top: 2rem;
			}

			a {
				color: white;
				font-weight: 600;
				font-size: 16px;
			}
		}

		#uxhires-jobs3 {
			.job-wrapper {
				height: 350px;
				background: #fff;

				&:nth-child(even) {
					background: #F9F9F9;
				}
			
				.role {
					float: left;
					width: 70%;
					padding-left: 10%;
					padding-top: 5rem;
					height: 100%;

					h3 {
						font-size: 22px;
						font-weight: 500;
					}

					p {
						margin-top: 10px;
					}

					a {
						text-decoration: underline;
						font-weight: 700;
					}
				}

				.loc {
					float: right;
					width: 30%;
					padding-top: 5rem;
					height: 100%;

					p {
						padding-left: 3rem;
						font-weight: 500;
						font-size: 20px;
					}
				}
			}
		}
	}
}




    
