<!DOCTYPE html>
<html>
<head>
  <title>Motivate Design</title>
  <link rel="stylesheet" media="all" type="text/css" href="https://cloud.typography.com/6298852/7403152/css/fonts.css">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
