<div class="section-center center wider">
  <h2>
    Related Links
  </h2>
  <div class="related-container visible">
    <div class="related-box first">
      <p>
        Open Position
      </p>
      <h3>
        Senior UX <br>
        Researcher (SF)
      </h3>
    </div>
    <div class="related-box second">
      <p>
        Article
      </p>
      <h3>
        How I accidentally <br>
        became a UX <br>
        Designer
      </h3>
    </div>
    <div class="related-box third">
      <p>
        Events
      </p>
      <h3>
        Leap Into UX: <br>
        From Products to <br>
        Portfolios
      </h3>
    </div>
    <%= link_to "http://www.readytoreframe.com/" do %>
      <div class="related-box fourth">
        <p>
          GET YOUR COPY
        </p>
        <h3>
          Reframe by <br>
          Mona Patel
        </h3>
      </div>
    <% end %>
    <div class="related-box first">
      <p>
        Article
      </p>
      <h3>
        21 Podcasts That <br>
        Will Change Your <br>
        Life
      </h3>
    </div>
    <div class="related-box fifth">
      <p>
        FEATURED EMPLOYEE
      </p>
      <h3>
        Andrew Forman<br>
        Recruitment <br>
        Coordinator
      </h3>
    </div>
  </div>
</div>
