<%- content_for :page_title do %>UxHires<%- end %>
<%- content_for :meta_desc do %>Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.<%- end %>
<%- content_for :body_id do %>uxhires-jobs<%- end %>
<%- content_for :section_id do %>uxhires-jobs-wrapper<%- end %>

	<section id="uxhires-jobs1">
		<div class="logo-wrapper">
		  <%= image_tag gulp_asset_path("/images/uxhires/uxhireslogo.svg"), alt: "ux hires logo", style: "width: 250px;" %>
		</div>
		<div class="view-jobs">
			<div class="nav-l">
				<a href="#">GO BACK TO VIEW ALL JOBS</a>
			</div>
			<div class="nav-r">
				<a href="#", class="p-right">REGISTER</a>
				<a href="#">LOG IN</a>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	<section id="uxhires-jobs2">
		<h1>
			Job
		</h1>
	</section>


		<!-- End body and section -->
	</div>
</section>